html,
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container span {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 0.5rem;
    text-align: center;
    border-radius: 5px;
}

#gray {
    background-color: gray;
}

#skyblue {
    background-color: skyblue;
}

#pink {
    background-color: pink;
}

#orange {
    background-color: orange;
}